*{
    margin:0;
    padding:0;
}





body{

    opacity: 0.96;

    /* we have added opacity in background image without affecting the other elements in front of background image */
    /* background-image: url("images/5.jpg")  ; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("images/5.jpg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    
    min-height: 100%;
    padding-top: 20px;
    margin: 0px;
}

 

nav{
    margin-left: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;

}
nav li{margin:7px;

}

a{
   box-shadow: 3px 3px 4px black;
    text-decoration: none;
    color:black;
    background-color:white;
    border-radius: 3px;
    padding:3px;
    margin:5px;
}
/* ................................  */
nav li a:hover{
    background-color: rgb(68, 165, 204);
    padding:6px;
    padding-right:15px;
    color:white;
}





div.container{
    border-top-left-radius: 10px;
    margin: auto;
    /* padding:2px; */
     height: 550px;
     width: 100%;
     
     position: relative;
    
 
     background-color:white;
     opacity: 0.8;
    display: grid;
    /* grid-template-rows: 350px 350px; */
    /* grid-template-columns:350px 350px 350px ; */
    row-gap: 2px;
    column-gap: 2px;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}


div.item{
    
    /* align-items: center; */
    margin: auto;
    text-align: center;

    /* border: 1px solid rgba(133, 123, 123, 0.151); */
    /* background-color:rgb(196, 216, 224); */
    width:320px;
   opacity: 100%;
}
    /* /* height: 250px; */

   
    
    .intro{
        margin-bottom: 495px;
        padding:20px;
   
    }
    
footer{
    background-color:gray;
    opacity: 1;
    padding:20px;
    text-align: center;
    align-items: center;
    margin: auto;
    
}
footer nav{
   
    margin-left: 0px;
    margin: auto;
   
}
footer nav a{
    
}




    @media  (max-width:600px)
    {
      
   div.container{
    margin: auto;
    /* padding:2px; */
     height: 550px;
     width: fit-content;
     
     position: relative;
    
 
     background-color:black;
     opacity: 0.95;
    display: grid;
    /* grid-template-rows: 350px 350px; */
    /* grid-template-columns:350px 350px 350px ; */
    row-gap: 2px;
    column-gap: 2px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr  ;
}
       
 body{

    opacity: 0.95;

    /* we have added opacity in background image without affecting the other elements in front of background image */
    background-image: url("images/5.jpg")  ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("images/5.jpg")  ;
    background-repeat: no-repeat;
    background-size:700px;
    background-color: black;
    
    min-height: 100%;
    padding-top: 20px;
    margin: 0px;
    width:443px;
    height:621px;
}


p{
    width: 309px;
}

.intro{
    margin-bottom: 120px;
    padding:20px;

}

div.item{
    padding:2px;
}

    }